<% provide(:title, 'Orders') %>
<h1>Заказ</h1>

<table class="table table-inverse table-striped">
  <thead>
    <tr>
      <th>Имя заказчика</th>
      <th>Устройство</th>
      <th>Кто ремонтировал</th>
      <th>Описание</th>

    </tr>
  </thead>

  <tbody>
    <% @repair_orders.each do |order| %>

      <tr>
        <td><%= @claimers.find(order.claimer_id).fio %></td>
        <td><%= @devices.find(order.device_id).brand %></td>
        <td><%= @masters.find(order.master_id).name %></td>
        <td><%= order.description %></td> 
        
      </tr>
   
    <% end %>
  </tbody>
</table>
<%= link_to 'Вернутся на главную', root_url%>
<br>
<%= link_to 'Создать новый заказ', new_repair_order_url%>