<% provide(:title, 'Orders') %>
<%= link_to 'Создать новый заказ', new_repair_order_url, class: 'btn btn-info' %>
<table class="table table-inverse table-striped">
  <thead>
    <tr>
      <th></th>
      <th>№ ЗАКАЗА</th>
      <th>КРАЙНИЙ СРОК</th>
      <th>ПРИНЯЛ</th>
      <th>ТИП УСТРОЙСТВА</th>
      <th>БРЕНД</th>
      <th>МОДЕЛЬ</th>
      <th>НЕИСПРАВНОСТЬ</th>
      <th>КЛИЕНТ</th>      
      <th>ЦЕНА</th>

    </tr>
  </thead>

  <tbody>
    <% @repair_orders.each do |order| %>

      <tr>
        <td><input type="checkbox" /></td>
        <td><%= order.id %></td>
        <td><% t = sec2dhms(order.date_dead_line.to_f - order.created_at.to_f) %> <%= pluralize("#{t[0]}", 'день', 'дней') %> <% order.date_dead_line %> </td>
        <td><%= @masters.find(order.master_id).name %> <br> <%= order.created_at.strftime("%d-%m-%Y в %H:%M") %></td>
        <td><%= @devices.find(order.device_id).device_type %></td>
        <td><%= @devices.find(order.device_id).brand %></td>
        <td><%= @devices.find(order.device_id).model %></td>
        <td><%= @devices.find(order.device_id).defect %></td>
        <td><%= @claimers.find(order.claimer_id).fio %> <br> <%= @claimers.find(order.claimer_id).phone %></td>        
        <td>$</td> 
        
      </tr>
   
    <% end %>
  </tbody>
</table>
<%= link_to 'Вернутся на главную', root_url%>