<% provide(:title, 'Orders') %>

<table class="table table-inverse table-striped">
  <thead>
    <tr>
      <th></th>
      <th>№ ЗАКАЗА</th>
      <th>КРАЙНИЙ СРОК</th>
      <th>ПРИНЯЛ</th>
      <th>ТИП УСТРОЙСТВА</th>
      <th>БРЕНД</th>
      <th>МОДЕЛЬ</th>
      <th>НЕИСПРАВНОСТЬ</th>
      <th>КЛИЕНТ</th>      
      <th>ЦЕНА</th>

    </tr>
  </thead>

  <tbody>
    <% @repair_orders.each do |order| %>

      <tr>
        <td><input type="checkbox" /></td>
        <td><%= order.id %></td>
        <td><%= order.date_dead_line %></td>
        <td><%= @masters.find(order.master_id).name %> <br> <%= order.created_at %></td>
        <td><%= @devices.find(order.device_id).device_type %></td>
        <td><%= @devices.find(order.device_id).brand %></td>
        <td><%= @devices.find(order.device_id).model %></td>
        <td><%= @devices.find(order.device_id).defect %></td>
        <td><%= @claimers.find(order.claimer_id).fio %> <br> <%= @claimers.find(order.claimer_id).phone %></td>        
        <td>$</td> 
        
      </tr>
   
    <% end %>
  </tbody>
</table>
<%= link_to 'Вернутся на главную', root_url%>
<br>
<%= link_to 'Создать новый заказ', new_repair_order_url%>