<% provide(:title, 'Orders') %>
<%= link_to 'Создать новый заказ', new_repair_order_url, class: 'btn btn-success' %>
<table class="table table-inverse table-striped">
  <thead>
    <tr>
      <th><input type="checkbox" /></th>
      <th>№ ЗАКАЗА</th>
      <th>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle-js" data-toggle="dropdown">
            КРАЙНИЙ СРОК 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Просроченные</a></li>
            <li><a href="#">Сначала новые</a></li>
            <li class="divider"></li>
            <li><a href="#">Сбросить</a></li>
          </ul>
        </div>
      </th>
      <th>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle-js" data-toggle="dropdown">
            ПРИНЯЛ 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% @masters.map do |master| %>        
              <li><a href=""><%= master.name %> - <%= master.category %></a></li>
            <% end -%>
          </ul>
        </div>
      </th>
      <th>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle-js" data-toggle="dropdown">
            ТИП УСТРОЙСТВА 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% @devices.map do |device| %>        
              <li><a href=""><%= device.device_type %></a></li>
            <% end -%>
          </ul>
        </div>
      </th>
      <th>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle-js" data-toggle="dropdown">
            БРЕНД
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% @devices.map do |device| %>        
              <li><a href=""><%= device.brand %></a></li>
            <% end -%>
          </ul>
        </div>
      </th>
      <th>УСТРОЙСТВО</th>
      <th>НЕИСПРАВНОСТЬ</th>
      <th>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle-js" data-toggle="dropdown">
            КЛИЕНТ
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <div id="search">
              <%= form_tag(RepairOrder, :method => "get") do %>
                  <div>
                    <%= text_field_tag :search, params[:search], placeholder: "Поиск по номеру" %>
                    <button type="submit">Найти</button>
                  </div>
              <% end %>
            </div>
          </ul>
        </div>
      </th>      
      <th>ЦЕНА</th>

    </tr>
  </thead>

  <tbody>
    <% @repair_orders.each do |order| %>

      <tr>
        <td><input type="checkbox" /></td>
        <td><%= order.id %></td>
        <td><% t = sec2dhms(order.date_dead_line.to_f - order.created_at.to_f) %> <%= pluralize("#{t[0]}", 'день', 'дней') %> <% order.date_dead_line %> </td>
        <td><%= @masters.find(order.master_id).name %> <br> <div class="additional_info_in_view"><%= order.created_at.strftime("%d-%m-%Y в %H:%M") %></div></td>
        <td><%= @devices.find(order.device_id).device_type %></td>
        <td><%= @devices.find(order.device_id).brand %></td>
        <td> <%= @devices.find(order.device_id).brand %> <%= @devices.find(order.device_id).model %> <br><div class="additional_info_in_view"><%= @devices.find(order.device_id).serial_number %></div></td>
        <td><%= @devices.find(order.device_id).defect %></td>
        <td><%= @claimers.find(order.claimer_id).fio %> <br> <div class="additional_info_in_view"><%= @claimers.find(order.claimer_id).phone %></div></td>        
        <td>$</td> 
        
      </tr>
   
    <% end %>
  </tbody>
</table>
<%= link_to 'Вернутся на главную', root_url, class: 'btn' %>

       <script type="text/javascript">
    $(document).ready(function(){
      $(".dropdown-toggle-js").dropdown();
    });  
    </script>
     
