<h1>Новый заказ</h1>
 
    <%= form_for @repair_order do |f| %>
     <p>Описание:</p>
     <div class="field">  
      <%= f.text_field :description, class: "form-control", placeholder: "Добавить примечание к заказу" %>
     </div>
     <br>
        <%= f.fields_for :claimer do |claimer_form| %>
          <div class="field"> 
            <%= claimer_form.text_field :fio, class: "form-control", placeholder: "Ф.И.О клиента" %>
          </div>
          <br>
          <div class="field"> 
            <%= claimer_form.text_field :phone, class: "form-control", placeholder: "Телефон" %>
          </div>
          <br>
          <div class="field"> 
            <%= claimer_form.text_field :email, class: "form-control", placeholder: "E-mail" %>
          </div>
          <br>
          <div class="field"> 
            <%= claimer_form.text_field :city, class: "form-control", placeholder: "Город" %>
          </div>
          <br>
          <div class="field"> 
            <%= claimer_form.text_field :adress, class: "form-control", placeholder: "Домашний адрес" %>
          </div>
          <br>
        <% end %>
      <br>
      <%= f.submit "Создать заказ", class: "btn btn-primary"%>
    <% end %>
<br>
    <%= link_to 'Вернутся на главную', root_url%>