<h1>Новый заказ</h1>
 
    <%= form_for @repair_order do |f| %>
     <p>Описание:</p> 
      <%= f.text_field :description %>
     
        <%= f.fields_for :claimer do |addy_form| %>
          ...
          <p>Ф.И.О.</p>
          <%= addy_form.text_field :fio %>
          
        <% end %>
      
      <%= f.submit %>
    <% end %>