<h1>Новый заказ</h1>
 
    <%= form_for @repair_order do |f| %>
     
<p>Клиент:</p>
        <%= f.fields_for :claimer do |claimer_form| %>
           
            <%= claimer_form.text_field :fio, class: "form-control", placeholder: "Ф.И.О клиента" %>
          
          <br>
           
            <%= claimer_form.text_field :phone, class: "form-control", placeholder: "Телефон" %>
          
          <br>
           
            <%= claimer_form.text_field :email, class: "form-control", placeholder: "E-mail" %>
          
          <br>
           
            <%= claimer_form.text_field :city, class: "form-control", placeholder: "Город" %>
          
          <br>
           
            <%= claimer_form.text_field :adress, class: "form-control", placeholder: "Домашний адрес" %>
          
          <br>
        <% end %>
      <br>
<p>Устройство:</p>
        <%= f.fields_for :device do |device_form| %>
           
            <%= device_form.text_field :model, class: "form-control", placeholder: "Модель устройства" %>
          
          <br>
           
            <%= device_form.text_field :serial_number, class: "form-control", placeholder: "Серийный номер" %>
          
          <br>
            <%= device_form.select :brand_id,  options_for_select(Brand.all.map{|u| [ u.brand_name, u.id ] }) %>
            <% #device_form.text_field :brand_id, class: "form-control", placeholder: "Бренд" %>
          
          <br>
           
            <%= device_form.text_field :device_type, class: "form-control", placeholder: "Тип устройства" %>
          
          <br>
           
            <%= device_form.text_field :defect, class: "form-control", placeholder: "Заявленный дефект" %>
          
          <br>
           
            <%= device_form.text_field :accessories, class: "form-control", placeholder: "Комплектность" %>
          
          <br>
           
            <%= device_form.text_field :appearences, class: "form-control", placeholder: "Внешний вид" %>
          
          <br>
        <% end %>
 
<p>непосредственно таблица repair_orders:</p>
    <p>Выбор мастера:</p>
     
      <%= select(:repair_order, :master_id, @master_options) %> <!-- выпадающее меню списка мастеров -->
      <br><br>
       
      <%= f.text_area :description, size: "15x3", class: "form-control", placeholder: "Добавить примечание к заказу" %>
     
     <br>
     
    <p>Дата покупки: <%= f.text_field :date_purchase, class: "datepicker", placeholder: "Кликните для выбора даты" %></p>
    <p>Конечный срок ремонта: <%= f.text_field :date_dead_line, class: "datepicker", placeholder: "Кликните для выбора даты" %></p>
    <p>Конец гарантии: <%= f.text_field :waranty_period, class: "datepicker", placeholder: "Кликните для выбора даты" %></p>
  <br><br>
      <%= f.submit "Создать заказ", class: "btn btn-primary"%>
    <% end %>
<br>
    <%= link_to 'Вернутся на главную', root_url%>
